*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: auto;
    font-family: Arial, sans-serif, 'Open Sans', sans-serif, "Source Sans Pro";
    min-width: 100%;
    scroll-behavior: initial;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
footer{
    flex: 0 0 auto;
}

.navbar {
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #383838;
    color: white;
    padding: 10px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;

}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.4s, border-radius 0.4s;
}

.navbar ul li a:hover {
    background-color: #949393;
    border-radius: 6px;
}
.active {
    background-color: aliceblue;
}

.menu-burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
}

@media (max-width: 768px) {
    .navbar{
        justify-content:right;
    }
    .navbar ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #383838;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .navbar ul.active {
        display: flex;
    }

    .menu-burger {
        display: flex;
    }
}

.header{
    width: 100%;
}
.wrap-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #383838;
    border-radius: 0 0 18px 18px;
    color: white;
    background-image: url(../images/backround-header.png);
    background-size: cover;
    background-position: center;
    box-shadow: 1px 2px 16px gray;
    margin-top: 45px;
    flex-wrap: wrap;
}

.wrap-header > * {
    position: relative;
}

.avatar {
    flex: 1;
    display: flex;
    justify-content: center;
}

.center {
    flex: 2;
    text-align: left;
    margin-left: 10px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.student-photo {
    width: 170px;
    height: 220px;
    border-radius: 10%;
}

.student-info {
    margin-bottom: 10px;
}

.student-name {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.faculty {
    font-size: 20px;
    padding-top: 10px;
}

.university-info {
    margin-bottom: 10px;
    font-size: 22px;
}

.logos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 16px;
}

.logo-tntu, .logo-fis {
    border-radius: 12px;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.logo-kaf {
    border-radius: 16px;
    width: 180px;
    height: 180px;
    margin: 5px;
}

/* **********MAIN************** */

.main-content {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #f4f4f4;
    margin-top: 20px; 
    flex: 1 0 auto;
}

.wraper {
    margin-top: 20px;
    display: flex;
    padding: 20px;
    width: 800px;
    background-color: #383838;
    border-radius: 18px;
    box-shadow: 2px 2px 18px gray;
}

.left-column {
    flex: 3;
    padding-right: 20px;
}

.right-column {
    flex: 2;
}

.section {
    margin-bottom: 20px;
    border: 1px solid #949393;
    padding: 15px;
    border-radius: 6px;
    background-color: #2f2f2f;
    position: relative;
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 30px; /* Space for button */
}

.hobbies, .interesting-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.hobby-item, .interesting-item {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    gap: 5px;
    position: relative;
    padding-bottom: 30px; /* Space for button */
    border-bottom: 1px solid #727272;
}

.detail-button {
    background-color: #1f1e1e;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.4s;
    width: 100px; /* Uniform size */
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.detail-button a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.4s, border-radius 0.4s;
}

.input-text{
    width: 245px;
}

.detail-link {
    display: inline-block;
    text-decoration: none;
}


.detail-button:hover {
    background-color: #949393;
}

.tokyo {
    margin: 5px;
    border: 1px solid #949393;
    border-radius: 6px;
    width: auto;
    height: 500px;
}

.kripak {
    width: 356px;
    border: 1px solid #949393;
    border-radius: 6px;
    height: 200px;
    margin: 5px;
}


/* ******FOOTER *********** */

.wrap-footer {
    margin-top: 20px;
    height: 100px;
    background-color: #1f1e1e;
    border-radius: 18px 18px 0 0;
    box-shadow: 1px -2px 13px gray;
}

.prodaction {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
}
/* Додаткові стилі для адаптивної градки */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: #383838;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Медіа-запит для адаптивної градки */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
/* Стилі для grid-елементів */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: #383838;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
/* Стилі для grid-елементів */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: #383838;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


/* Основні стилі банера */
.banner {
    position: relative;
    width: 100%;
    height: 400px; /* Висота для середнього екрану */
    background-image: url('../images/fon.jpg');
    background-size: cover;
    background-position: center;
    margin: 20px 0;
}

.banner-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Стилі для тексту */
.banner-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.animated-text1 {
    animation-name: slidein-left;
}

.animated-text2 {
    animation-name: slidein-right;
}

.animated-text3 {
    animation-name: fadein;
    margin-bottom: 20px;

}

/* Стилі для зображень */
.banner-image {
    width: 100px;
    height: auto;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.animated-image1 {
    animation-name: bounce;
}

.animated-image2 {
    animation-name: rotate;
    border-radius: 50px;
}

.animated-image3 {
    animation-name: shake;
}
/* Віджети */
iframe, .twitter-timeline, #weather-widget {
    margin: 20px auto;
    display: block;
    max-width: 100%;
    width: 300px;
}

/* Стилізація секцій */
.main-content .section {
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Анімації */
@keyframes slidein-left {
    0% { transform: translateX(-100%); opacity: 0; }
    50% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(100%); opacity: 0; }
}

@keyframes slidein-right {
    0% { transform: translateX(100%); opacity: 0; }
    50% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(-100%); opacity: 0; }
}

@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25%, 75% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
}

/* Адаптивні стилі для різних розмірів екрану */
@media (max-width: 1200px) {
    .banner {
        height: 250px; /* Висота для великих екранів */
    }
}

@media (max-width: 768px) {
    .banner {
        height: 200px; /* Висота для середніх екранів */
    }
    .banner-text {
        font-size: 20px;
    }
    .banner-image {
        width: 80px;
    }
}

@media (max-width: 480px) {
    .banner {
        height: 150px; /* Висота для маленьких екранів */
    }
    .banner-text {
        font-size: 16px;
    }
    .banner-image {
        width: 60px;
    }
}


/* ************* MEDIA ************* */
@media(max-width: 930px) {
    .student-name{
        font-size: 20px;
    }
    .faculty, .university-info{
        font-size: 16px;
    }
    .logo-tntu, .logo-fis{
        width: 60px;
        height: 60px;
    }
    .logo-kaf{
        width: 130px;
        height: 130px;
    }
    
}
@media (max-width:840px) {
    .wraper {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    .left-column {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .right-column {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-end; /* Цей рядок розміщує елементи справа */
    }
    
    .tokyo, .kripak {
        width: 80%;
        height: auto;
    }
    .left-column{
        width: 90%;
    }
    .section-title{
        font-size: 24px;
    }
    .section-subtitle{
        font-size: 20px;
    }
    .input-text{
        font-size: 16px ;
    }
}
@media (max-width: 640px) {
    .wrap-header{
        display: inline-flex;
        flex-wrap: wrap;
    }
    .navbar ul {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #383838;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    
    .navbar ul.active {
        display: flex;
    }
    
    .menu-burger {
        display: flex;
    }
}

#number-input{
    width: 60%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
}

#custommenu {
    width: 250px;
    height: 140px;
    visibility: hidden;
    background-color: rgb(73, 63, 67);;
    border: 1px solid rgb(124, 93, 106);
    position: absolute;
    border-radius: 8px;
    z-index: 1000;
    
}
#custommenu div {
    background-color:rgb(73, 63, 67);;
    color: rgb(194, 194, 255);
    font-size: 10pt;
    padding: 5px;
    cursor: pointer;
}
#custommenu div:hover {
    background-color: rgb(152, 137, 158);
}